{% extends "base.html" %}
{% load static %}
{% block title %}SCITT | HOME {% endblock %}
{% block content %} 
        <div>
                <!-- Carousel Start -->
            <div class="header-carousel owl-carousel">
                <div class="header-carousel-item">
                    <img src="{% static 'assets1/img/scitt4.jpg' %}" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">scitt class</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">The Future of IT Excellence</h1>
                            <p class="mb-5 fs-5">Empowering Future Innovators to Lead with Faith, Excellence, and Purpose in a Digital World
                            </p>
                            <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Enroll</a>
                        </div>
                    </div>
                </div>
                <div class="header-carousel-item">
                    <img src="{% static 'assets1/img/scitt7.jpg' %}" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">scitt class</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">The Future of IT Excellence</h1>
                            <p class="mb-5 fs-5 animated slideInDown">Fostering a Community of Tech Pioneers Rooted in Faith, Excellence, and Forward-Thinking 
                            </p>
                            <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Enroll</a>
                        </div>
                    </div>
                </div>
                <div class="header-carousel-item">
                    <img src="{% static 'assets1/img/scitt2.jpg' %}" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">scitt class</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">The Future of IT Excellence</h1>
                            <p class="mb-5 fs-5 animated slideInDown">Empowering You to Shape the Future of Technology with Skill, Purpose, and Faith
                            </p>
                            <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Enroll</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
        </div>
        <!-- Navbar & Hero End -->

        <!-- About Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-img pb-5 ps-5">
                            <img src="{% static 'assets1/img/scitt1.jpg' %}" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                            <div class="about-img-inner">
                                <img src="{% static 'assets1/img/scitt9.jpg' %}" class="img-fluid rounded-circle w-100 h-100" alt="Image">
                            </div>
                            <div class="about-experience">2+ years experience</div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h4 class="sub-title pe-3 mb-0">Who We Are</h4>
                            <h1 class="display-3 mb-4">Your Partners in Purpose-Driven Growth – Empowering a Future of Possibility</h1>
                            <p class="mb-4">At  SCITT, we envision a world where technology serves a greater purpose.
                                 Our vibrant community is dedicated to nurturing aspiring tech professionals who seek to make a meaningful
                                  impact through innovation and collaboration. Our mission is to empower individuals with the skills and
                                   knowledge needed for success in the digital landscape. We believe in hands-on learning experiences that
                                    foster both personal and professional growth, providing a supportive environment where every learner can thrive.
                                     Join us as we explore the future of IT excellence, equipping you with the skills and confidence to succeed in a
                                      rapidly evolving digital world.</p>
                            <div class="mb-4">
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Hands-On Learning: Practical experiences that build skills and confidence in tech.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Innovation Focused: Nurturing talent and critical thinking for real-world challenges.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Excellence Commitment: Preparing learners for success in the evolving digital landscape.</p>
                            </div>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">Get To Know Us Better</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!--Banner Separator-->
        <div class="sbanner">
            <div class="sbanner-content">
                <h1 class="sbanner-title">Empowering the Next Generation of Innovators</h1>
                <p class="sbanner-subtitle">Join us at SCITT Tech and be part of a transformative journey into the world of technology and innovation.</p>
            </div>
        </div>
        
        <!--Banner End-->

        <!-- Mission Start -->
        <div class="container-fluid feature py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">Empowering the Future: Our Mission</h4>
                    </div>
                    <h1 class="display-3 mb-4">Creating opportunities for hands-on learning and real-world impact.</h1>
                    <p class="mb-0">At SCITT Tech, we are committed to equipping aspiring tech enthusiasts with the skills,
                         knowledge, and practical experience they need to thrive in today’s fast-paced technological landscape.
                          Our mission is to provide high-quality education that blends theory with hands-on practice, empowering
                           our students to become leaders and innovators in the tech industry. Through a supportive learning environment, 
                           industry-relevant curricula, and a focus on personal growth, we aim to inspire the next generation of tech professionals
                            to make a meaningful impact and shape the future of technology. We believe in nurturing not only technical skills but also creativity,
                         critical thinking, and problem-solving abilities to prepare our students for success in an ever-evolving world.</p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-bullseye fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Mission</h5>
                                    <p class="mb-0">At SCITT Tech, our mission is to empower individuals with the knowledge and practical skills needed to succeed 
                                        in the rapidly evolving tech world. We strive to provide an inclusive learning environment that nurtures creativity,
                                         critical thinking, and problem-solving abilities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-lightbulb fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Purpose</h5>
                                    <p class="mb-0">At SCITT Tech, our purpose is to provide students with the tools, resources, and knowledge necessary to thrive
                                         in the ever-changing world of technology. We aim to bridge the gap between education and industry by offering a hands-on
                                          learning experience.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-rocket fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Future</h5>
                                    <p class="mb-0">At SCITT Tech, we envision our students leading the charge in technological innovation, 
                                        shaping the future of the industry. As the tech world continuously evolves, we are dedicated to adapting our programs
                                         to stay ahead of emerging trends. Our goal is to equip students 
                                         .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-balance-scale fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Principles</h5>
                                    <p class="mb-0">At SCITT Tech, we are guided by integrity, collaboration, and continuous learning, fostering an
                                         inclusive environment that encourages innovation and growth to prepare our students for leadership in the tech industry
                                         in the ever changing tech landscape.
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Feature End -->    
        
        <!-- Team Start -->
        <div class="container-fluid team py-5">
        <div class="container py-5">
            <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="sub-style">
                    <h4 class="sub-title px-3 mb-0">Meet our team</h4>
                </div>
                <h1 class="display-3 mb-4">Passionate Individuals Driving Innovation Together</h1>
                <p class="mb-0">At SCITT, our team is the heartbeat of our mission. Comprising passionate professionals with diverse backgrounds and expertise,
                     we are dedicated to empowering individuals through technology and education. Each member brings unique skills and insights,
                      working collaboratively to create an enriching experience for our students. Get to know the talented individuals who are committed to 
                      guiding you on your journey towards IT excellence!</p>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded">
                        <div class="team-img rounded-top h-100">
                            <img src="{% static 'assets1/img/scitt8.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                            <h5>Peter Odour</h5>
                            <p class="mb-0">H.O.D Solution IT Department</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded">
                        <div class="team-img rounded-top h-100">
                            <img src="{% static 'assets1/img/scitt8.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                            <h5>Rebecca Owour</h5>
                            <p class="mb-0">Faciltator/ Mentor Scitt Class</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded">
                        <div class="team-img rounded-top h-100">
                            <img src="{% static 'assets1/img/scitt8.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                            <h5>Kevin Kaittany</h5>
                            <p class="mb-0">Faciltator/ Mentor Scitt Clas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item rounded">
                        <div class="team-img rounded-top h-100">
                            <img src="{% static 'assets1/img/scitt8.jpg' %}" class="img-fluid rounded-top w-100" alt="">
                            <div class="team-icon d-flex justify-content-center">
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                            <h5>Bobby Israel</h5>
                            <p class="mb-0">Peer Mentor Sitt Class</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Team End -->   
        
        <!--Banner Separator-->
        <div class="banner">
            <div class="banner-content">
                <h1 class="banner-title">Empowering the Next Generation of Innovators</h1>
                <p class="banner-subtitle">Join us at SCITT Tech and be part of a transformative journey into the world of technology and innovation.</p>
            </div>
        </div>
        <!--Banner End-->
    {% endblock %}    