{% extends "base.html" %}
{% load static %}
{% block title %}SCITT | PARTNERS {% endblock %}
{% block content %}
    <!-- Carousel Start -->
    <div class="header-carousel owl-carousel">
        <div class="header-carousel-item">
            <img src="{% static 'assets1/img/scitt4.jpg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="carousel-caption-content p-3">
                    <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">scitt partners</h5>
                    <h1 class="display-1 text-capitalize text-white mb-4">Shaping tomorrow's tech leaders for ministry and beyond</h1>
                    <p class="mb-5 fs-5">Partner with SCITT: Join Forces with SCITT to Empower Faith-Based Tech Leaders
                    </p>
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Become a Partner</a>
                </div>
            </div>
        </div>
        <div class="header-carousel-item">
            <img src="{% static 'assets1/img/scitt7.jpg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="carousel-caption-content p-3">
                    <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">scitt partners</h5>
                    <h1 class="display-1 text-capitalize text-white mb-4">Together, we build the tech leaders of tomorrow.</h1>
                    <p class="mb-5 fs-5 animated slideInDown">Be a Catalyst for Change: Empower the Church with Technology
                    </p>
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Become a Partner</a>
                </div>
            </div>
        </div>
        <div class="header-carousel-item">
            <img src="{% static 'assets1/img/scitt2.jpg' %}" class="img-fluid w-100" alt="Image">
            <div class="carousel-caption">
                <div class="carousel-caption-content p-3">
                    <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">scitt partners</h5>
                    <h1 class="display-1 text-capitalize text-white mb-4">Fueling the future of technology through partnership.</h1>
                    <p class="mb-5 fs-5 animated slideInDown">Your Support Counts: Transforming Lives, One Tech Leader at a Time
                    </p>
                    <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Become a Partner</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End --> 

    <!-- About Start -->
    <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-img pb-5 ps-5">
                            <img src="{% static 'assets1/img/scitt1.jpg' %}" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                            <div class="about-img-inner">
                                <img src="{% static 'assets1/img/scitt9.jpg' %}" class="img-fluid rounded-circle w-100 h-100" alt="Image">
                            </div>
                            <div class="about-experience">2+ years experience</div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h4 class="sub-title pe-3 mb-0">Who We Are</h4>
                            <h1 class="display-3 mb-4">Your Partners in Purpose-Driven Growth – Empowering a Future of Possibility</h1>
                            <p class="mb-4">At  SCITT, we envision a world where technology serves a greater purpose.
                                 Our vibrant community is dedicated to nurturing aspiring tech professionals who seek to make a meaningful
                                  impact through innovation and collaboration. Our mission is to empower individuals with the skills and
                                   knowledge needed for success in the digital landscape. We believe in hands-on learning experiences that
                                    foster both personal and professional growth, providing a supportive environment where every learner can thrive.
                                     Join us as we explore the future of IT excellence, equipping you with the skills and confidence to succeed in a
                                      rapidly evolving digital world.</p>
                            <div class="mb-4">
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Hands-On Learning: Practical experiences that build skills and confidence in tech.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Innovation Focused: Nurturing talent and critical thinking for real-world challenges.</p>
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Excellence Commitment: Preparing learners for success in the evolving digital landscape.</p>
                            </div>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">Get To Know Us Better</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- About End -->  
    
    
    <!-- Counter Facts Start -->
    <div class="container-fluid counter-facts py-5">
            <div class="container py-5">
                <div class="row g-4">
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="counter">
                            <div class="counter-icon">
                                <i class="fas fa-graduation-cap"></i>
                            </div>
                            <div class="counter-content">
                                <h3>Students Trained</h3>
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="counter-value" data-toggle="counter-up">25</span>
                                    <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="counter">
                            <div class="counter-icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="counter-content">
                                <h3>Tech Projects</h3>
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="counter-value" data-toggle="counter-up">6</span>
                                    <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="counter">
                            <div class="counter-icon">
                                <i class="fas fa-user-check"></i>
                            </div>
                            <div class="counter-content">
                                <h3>Facilitators</h3>
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="counter-value" data-toggle="counter-up">6</span>
                                    <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="counter">
                            <div class="counter-icon">
                                <i class="fas fa-handshake"></i>
                            </div>
                            <div class="counter-content">
                                <h3>Success Rates</h3>
                                <div class="d-flex align-items-center justify-content-center">
                                    <span class="counter-value" data-toggle="counter-up">80</span>
                                    <h4 class="text-secondary mb-0" style="font-weight: 600; font-size: 25px;">%</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- Counter Facts End -->   
    

    <!-- Mission Start -->
    <div class="container-fluid feature py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">Empowering the Future: Our Mission</h4>
                    </div>
                    <h1 class="display-3 mb-4">Creating opportunities for hands-on learning and real-world impact.</h1>
                    <p class="mb-0">At SCITT Tech, we are committed to equipping aspiring tech enthusiasts with the skills,
                         knowledge, and practical experience they need to thrive in today’s fast-paced technological landscape.
                          Our mission is to provide high-quality education that blends theory with hands-on practice, empowering
                           our students to become leaders and innovators in the tech industry. Through a supportive learning environment, 
                           industry-relevant curricula, and a focus on personal growth, we aim to inspire the next generation of tech professionals
                            to make a meaningful impact and shape the future of technology. We believe in nurturing not only technical skills but also creativity,
                         critical thinking, and problem-solving abilities to prepare our students for success in an ever-evolving world.</p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-bullseye fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Mission</h5>
                                    <p class="mb-0">At SCITT Tech, our mission is to empower individuals with the knowledge and practical skills needed to succeed 
                                        in the rapidly evolving tech world. We strive to provide an inclusive learning environment that nurtures creativity,
                                         critical thinking, and problem-solving abilities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-lightbulb fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Purpose</h5>
                                    <p class="mb-0">At SCITT Tech, our purpose is to provide students with the tools, resources, and knowledge necessary to thrive
                                         in the ever-changing world of technology. We aim to bridge the gap between education and industry by offering a hands-on
                                          learning experience.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-rocket fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Future</h5>
                                    <p class="mb-0">At SCITT Tech, we envision our students leading the charge in technological innovation, 
                                        shaping the future of the industry. As the tech world continuously evolves, we are dedicated to adapting our programs
                                         to stay ahead of emerging trends. Our goal is to equip students 
                                         .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="row-cols-1 feature-item p-4">
                            <div class="col-12">
                                <div class="feature-icon mb-4">
                                    <div class="p-3 d-inline-flex bg-white rounded">
                                        <i class="fas fa-balance-scale fa-4x text-primary"></i>
                                    </div>
                                </div>
                                <div class="feature-content d-flex flex-column">
                                    <h5 class="mb-4">Our Principles</h5>
                                    <p class="mb-0">At SCITT Tech, we are guided by integrity, collaboration, and continuous learning, fostering an
                                         inclusive environment that encourages innovation and growth to prepare our students for leadership in the tech industry
                                         in the ever changing tech landscape.
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    <!-- Mission End -->  

     <!-- Training Start -->
     <div class="container-fluid training overflow-hidden bg-light py-5">
        <div class="container py-5">
            <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="sub-style">
                    <h4 class="sub-title px-3 mb-0">Ways To Partner</h4>
                </div>
                <h1 class="display-3 mb-4">Support the Next Wave of Innovators</h1>
                <p class="mb-0">At SCITT, we believe in the power of collaboration to drive innovation and transformation.
                     Whether you’re an individual, organization, or community, your partnership can help shape the future of
                      technology education. Explore the many ways you can get involved and make a lasting impact.</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="training-item">
                        <div class="training-inner">
                            <img src="{% static 'assets1/img/partners2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="training-title-name">
                                <a href="#" class="h4 text-white mb-0">BECOME A FACILITATOR</a>
                                
                            </div>
                        </div>
                        <div class="training-content bg-secondary rounded-bottom p-4">
                            <a href="#"><h4 class="text-white">BECOME A FACILITATOR</h4></a>
                            <p class="text-white-50">Inspire future tech leaders by becoming a program facilitator. </p>
                            <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="training-item">
                        <div class="training-inner">
                            <img src="{% static 'assets1/img/partners2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="training-title-name">
                                <a href="#" class="h4 text-white mb-0">DONATE TO SCITT</a>
                                
                            </div>
                        </div>
                        <div class="training-content bg-secondary rounded-bottom p-4">
                            <a href="#"><h4 class="text-white">DONATE TO SCITT </h4></a>
                            <p class="text-white-50">Support SCITT’s mission with financial contributions for tech training</p>
                            <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="training-item">
                        <div class="training-inner">
                            <img src="{% static 'assets1/img/partners2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="training-title-name">
                                <a href="#" class="h4 text-white mb-0">OFFER INTERNSHIP OPPORTINITIES</a>
                                
                            </div>
                        </div>
                        <div class="training-content bg-secondary rounded-bottom p-4">
                            <a href="#"><h4 class="text-white">OFFER INTERNSHIP OPPORTINITIES</h4></a>
                            <p class="text-white-50">Provide students with real-world experience through internship placements.</p>
                            <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="training-item">
                        <div class="training-inner">
                            <img src="{% static 'assets1/img/partners2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="training-title-name">
                                <a href="#" class="h4 text-white mb-0">CAREER SUPPORT & PLACEMENT</a>
                                
                            </div>
                        </div>
                        <div class="training-content bg-secondary rounded-bottom p-4">
                            <a href="#"><h4 class="text-white">CAREER SUPPORT & PLACEMENT</h4></a>
                            <p class="text-white-50">Partner with SCITT to help students find meaningful employment.</p>
                            <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 text-center">
                    
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="training-item">
                        <div class="training-inner">
                            <img src="{% static 'assets1/img/partners2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="training-title-name">
                                <a href="#" class="h4 text-white mb-0">CORPORATE SPONSORSHIP</a>
                                
                            </div>
                        </div>
                        <div class="training-content bg-secondary rounded-bottom p-4">
                            <a href="#"><h4 class="text-white">CORPORATE SPONSORSHIP</h4></a>
                            <p class="text-white-50">Partner with SCITT to help students find meaningful employment.</p>
                            <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="training-item">
                        <div class="training-inner">
                            <img src="{% static 'assets1/img/partners2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="training-title-name">
                                <a href="#" class="h4 text-white mb-0">AFFILIATE SPONSORSHIP</a>
                                
                            </div>
                        </div>
                        <div class="training-content bg-secondary rounded-bottom p-4">
                            <a href="#"><h4 class="text-white">AFFILIATE SPONSORSHIP</h4></a>
                            <p class="text-white-50">Promote SCITT to your networks and enjoy exclusive benefits as an affiliate.`</p>
                            <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="training-item">
                        <div class="training-inner">
                            <img src="{% static 'assets1/img/partners2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="training-title-name">
                                <a href="#" class="h4 text-white mb-0">BECOME A MENTOR</a>
                                
                            </div>
                        </div>
                        <div class="training-content bg-secondary rounded-bottom p-4">
                            <a href="#"><h4 class="text-white">BECOME A MENTOR</h4></a>
                            <p class="text-white-50">Your organization can help bridge the gap between education and industry-.</p>
                            <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="training-item">
                        <div class="training-inner">
                            <img src="{% static 'assets1/img/partners2.jpg' %}" class="img-fluid w-100 rounded" alt="Image">
                            <div class="training-title-name">
                                <a href="#" class="h4 text-white mb-0">PROVIDE LEARNING RESOURCES</a>
                                
                            </div>
                        </div>
                        <div class="training-content bg-secondary rounded-bottom p-4">
                            <a href="#"><h4 class="text-white">PROVIDE LEARNING RESOURCES</h4></a>
                            <p class="text-white-50">Donate tech equipment, software, or other resources.</p>
                            <a class="btn btn-secondary rounded-pill text-white p-0" href="#">Read More <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 text-center">
                    <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Become A Partner</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Training End -->
->
        <!-- FAQs Start -->
        <div class="container-fluid faq-section pb-5">
            <div class="container pb-5 overflow-hidden">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">Frequently Asked Questions</h4>
                    </div>
                    <h1 class="display-3 mb-4">Your Questions, Answered</h1>
                    <p class="mb-0">Have questions? We’ve got you covered. In this section, you’ll find answers to some of the most frequently asked questions
                         about SCITT. From enrollment details to partnership opportunities, we’re here to provide clarity and help you make the most of your
                          experience with us. If you don’t see what you’re looking for, feel free to reach out!</p>
                </div>
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="accordion accordion-flush bg-light rounded p-5" id="accordionFlushSection">
                            <div class="accordion-item rounded-top">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    1. What is SCITT, and what does it offer?
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">Solution Centre IT Training is a tech-focused program dedicated to equipping individuals with hands-on programming skills.
                                         Through our courses and mentorship opportunities, we empower students to excel and build successful careers in the tech industry.
    
                                        </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    2. How can I enroll in a SCITT program?
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body"> You can enroll by visiting our website, navigating to the "Programs" section, and selecting 
                                        the course you’re interested in. Follow the enrollment instructions, and our team will guide you through the process.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    3. Are there any prerequisites for joining SCITT courses?
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">Our beginner-level courses are open to all, regardless of prior experience. Advanced courses may have specific
                                         requirements, which you can find in each course description.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                4. What types of partnerships does SCITT offer?
                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">We offer several ways to partner with us, including becoming a facilitator, donating resources,
                                         or joining our affiliate program. Each partnership type contributes uniquely to our mission of tech education.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                5. How do I contact SCITT if I have additional questions?
                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">Feel free to reach out through our "Contact Us" page. We’re here to help with any additional questions 
                                        you may have.</div>
                                </div>
                            </div>
                            <div class="accordion-item rounded-bottom">
                                <h2 class="accordion-header" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                    6. Are the SCITT courses available online or in-person?
                                    </button>
                                </h2>
                                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushSection">
                                    <div class="accordion-body">We offer both online and in-person options to accommodate different learning preferences. Course availability may vary,
                                         so please check the course details for specific formats.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="bg-primary rounded">
                            <img src="{% static 'assets1/img/scitt1.jpg' %}" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a class="btn btn-primary border-secondary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Become A Partner</a>
                </div>
            </div>
        </div>
        <!-- FAQs End -->

 

{% endblock %}    